numpy
pandas
matplotlib
scikit-learn
tqdm
python-dotenv

pymupdf
pypdf
pdfplumber

sentence-transformers
chromadb

langchain
langchain-community
langchain-openai
langchain-text-splitters

openai
tiktoken

fastapi
uvicorn
python-multipart
streamlit

pydantic
pydantic-settings

plotly

pytest